.flex-row {
    padding: 2rem;
    width: 100%;
    display: flex;
    gap: 1.5rem;
}

.flex-row-item {
    flex: 1 1 0;
    min-width: 0;
}

.card-conocimiento {
    display: grid;
    grid-template-columns: 3fr 1fr;
    
    padding: 3px !important;
    border-radius: 2px !important;
    margin: 5px;
}